.shaking-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 62px;
    border: 2px solid #D3D6DA;
    perspective: 1000px;
}

.not-guessed {
    background-color: 'white';
}

.guessed {
    border: 2px solid #878A8C;
}

.maybe {
    background-color: #C9B458 !important;
    color: white;
    border-width: 0;
    animation:spin 2s linear infinite;
}

.incorrect {
    background-color: #787C7E !important;
    color: white;
    border-width: 0;
    animation:spin 2s linear infinite;
}

.correct {
    background-color: #6AAA64 !important;
    border-width: 0;
    color: white;
    animation:spin 2s linear infinite;
}

.shake {
    animation: pulse 0.3s; 
}

@-moz-keyframes spin { 100% { -moz-transform: rotateX(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateX(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateX(360deg); transform: rotateX(360deg); } }

@keyframes pulse {
    0% { 
        transform: scale(1);
    }
    50% { 
        transform: scale(1.2);
    }
    100% { 
        transform: scale(1);
    }
}
